canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
img {
    display: none;
}
a {
  color: black;
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 100;
}